
.Container{
  width:1400px;
  margin-left: 100px;
  margin-top:70px;
  border:2px solid lightsalmon;
  background-color:hsl(266, 47%, 61%);
  /* background-image: url("https://static1.srcdn.com/wordpress/wp-content/uploads/2020/10/Best-Among-Us-Desktop-PC-Wallpaper-Backgrounds-MaternitySignpost-Neytrix.jpg"); */
   
}

.heading{
  font-size: xx-large;
  color:black;
}
/* .App-Container{
  display:flex;
  flex-direction: column;
  text-align: center;
  height:auto;
  width:auto;
} */

